@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

:root {
  --ytt-bg: #2b2d42;
  --ytt-gray: #8d99ae;
  --ytt-light: #edf2f4;
  --ytt-main: #ef233c;
  --ytt-loop: #ffb703;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--ytt-bg);
  color: var(--ytt-light);
  width: 320px;
  font-size: .875rem;
}

.main-c {
  color: var(--ytt-main)
}

.light-c {
  color: var(--ytt-light)
}

/* input[type=range] */
input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background-color: var(--ytt-light);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--ytt-main);
  cursor: pointer;
  margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--ytt-main);
  cursor: pointer;
  border: none;
  margin-top: -8px;
}

/* input[type=number] */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  width: 30px;
}

/* public */
.icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.flex-box {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.container {
  padding: 0 .5rem;
}

.divide {
  width: calc(100% + 1rem);
  height: 1px;
  position: relative;
  right: .5rem;
  background-color: var(--ytt-light);
  margin: .5rem 0;
  opacity: .2;
}

.ytt-button {
  border: none;
  outline: none;
  background-color: var(--ytt-light);
  padding: .375rem .5rem;
  border-radius: 4px;
  margin-left: .75rem;
  cursor: pointer;
  transition: all .2s;
}

/* popup */
#ytt-slider {
  margin: 0 1rem;
}

#ytt-reset {
  background-color: var(--ytt-light);
}

#ytt-reset:hover {
  background-color: var(--ytt-main);
}

#ytt-stop,
#ytt-loop {
  background-color: var(--ytt-light);
}

#ytt-stop:hover,
#ytt-loop:hover {
  background-color: var(--ytt-loop);
}

#ytt-looping {
  margin-left: .5rem;
  color: var(--ytt-loop);
  display: none;
  animation-name: rotating;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#ytt-loop-prompt {
  margin-left: .5rem;
  color: var(--ytt-main);
}

.title {
  font-size: 1.25rem;
  display: block;
  margin-right: .5rem;
}

.version {
  position: relative;
  bottom: -3px;
}

.logo {
  width: 30px;
  margin-right: .5rem;
}

/* animation */
@keyframes rotating {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}